$fullOpacity: 1;
$halfOpacity: 0.5;
$defaultWhite: rgb(252, 248, 243);
$defaultDark: #393e46;
$defaultDarker: #1f1f1f;
$baseBgColor: rgba(20, 40, 80, 1);
$transparentBgColor: rgba(0, 121, 191, 0);
$defaultGrey: #c2c2c2;
$defaultBlue: rgb(7, 121, 228);
$defaultFontColor: hsla(0, 0%, 100%, 0.87);
$defaultGreen: #8cba51;
$defaultRed: #fd5e53;

$defaultBoxShadow: 0 5px 10px $defaultGrey;
